parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Api\\\\Repository\\\\TrainerPokemonEloRepository\\:\\:getMetrics\\(\\) should return array\\{view_count_sum\\: int, win_count_sum\\: int, view_count_max\\: int, win_count_max\\: int, under_max_view_count\\: int, dex_total_count\\: int\\} but returns array\\{view_count_sum\\: int\\|string, win_count_sum\\: int\\|string, view_count_max\\: int\\|string, win_count_max\\: int\\|string, under_max_view_count\\: int\\|string, dex_total_count\\: int\\|string\\}\\.$#"
			count: 1
			path: src/Api/Repository/TrainerPokemonEloRepository.php

		-
			message: "#^Call to an undefined method Symfony\\\\Contracts\\\\Cache\\\\CacheInterface\\:\\:clear\\(\\)\\.$#"
			count: 1
			path: src/Api/Service/CalculatorService/DexAvailabilitiesCalculatorService.php

		-
			message: "#^Parameter \\#1 \\$voteCount of class App\\\\Web\\\\DTO\\\\ElectionVoteResult constructor expects int, mixed given\\.$#"
			count: 1
			path: src/Web/DTO/ElectionVoteResult.php

		-
			message: "#^Property App\\\\Web\\\\Exception\\\\EmptyContentException\\:\\:\\$message has no type specified\\.$#"
			count: 1
			path: src/Web/Exception/EmptyContentException.php

		-
			message: "#^Property App\\\\Web\\\\Exception\\\\InvalidJsonException\\:\\:\\$message has no type specified\\.$#"
			count: 1
			path: src/Web/Exception/InvalidJsonException.php

		-
			message: "#^Property App\\\\Web\\\\Exception\\\\ModifyFailedException\\:\\:\\$message has no type specified\\.$#"
			count: 1
			path: src/Web/Exception/ModifyFailedException.php

		-
			message: "#^Method App\\\\Web\\\\Security\\\\User\\:\\:getUserIdentifier\\(\\) should return non\\-empty\\-string but returns string\\.$#"
			count: 1
			path: src/Web/Security/User.php

		-
			message: "#^Property App\\\\Tests\\\\Api\\\\Functional\\\\Controller\\\\AbstractTestControllerApi\\:\\:\\$client with generic class Symfony\\\\Component\\\\BrowserKit\\\\AbstractBrowser does not specify its types\\: TRequest, TResponse$#"
			count: 1
			path: tests/Api/Functional/Controller/AbstractTestControllerApi.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\CollectionsAvailabilities\\:\\:\\$nexistepas\\.$#"
			count: 2
			path: tests/Api/Functional/Repository/CollectionsAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\CollectionsAvailabilities\\:\\:\\$pogodynamax\\.$#"
			count: 2
			path: tests/Api/Functional/Repository/CollectionsAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\CollectionsAvailabilities\\:\\:\\$pogoshadow\\.$#"
			count: 2
			path: tests/Api/Functional/Repository/CollectionsAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Api/Functional/Repository/GameBundlesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Api/Functional/Repository/GameBundlesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Api/Functional/Repository/GameBundlesShiniesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Api/Functional/Repository/GameBundlesShiniesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$blue\\.$#"
			count: 2
			path: tests/Api/Functional/Repository/GamesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$green\\.$#"
			count: 2
			path: tests/Api/Functional/Repository/GamesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$nexistepas\\.$#"
			count: 2
			path: tests/Api/Functional/Repository/GamesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$red\\.$#"
			count: 2
			path: tests/Api/Functional/Repository/GamesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$yellow\\.$#"
			count: 2
			path: tests/Api/Functional/Repository/GamesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$emerald\\.$#"
			count: 1
			path: tests/Api/Functional/Repository/GamesShiniesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$nexistepas\\.$#"
			count: 1
			path: tests/Api/Functional/Repository/GamesShiniesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$ruby\\.$#"
			count: 1
			path: tests/Api/Functional/Repository/GamesShiniesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\CollectionsAvailabilities\\:\\:\\$pogodynamax\\.$#"
			count: 3
			path: tests/Api/Functional/Service/CollectionsAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\CollectionsAvailabilities\\:\\:\\$pogoshadow\\.$#"
			count: 3
			path: tests/Api/Functional/Service/CollectionsAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Api/Functional/Service/GameBundlesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Api/Functional/Service/GameBundlesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Api/Functional/Service/GameBundlesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Api/Functional/Service/GameBundlesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$blue\\.$#"
			count: 2
			path: tests/Api/Functional/Service/GamesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$emerald\\.$#"
			count: 3
			path: tests/Api/Functional/Service/GamesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$red\\.$#"
			count: 3
			path: tests/Api/Functional/Service/GamesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$ruby\\.$#"
			count: 1
			path: tests/Api/Functional/Service/GamesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$blue\\.$#"
			count: 2
			path: tests/Api/Functional/Service/GamesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$emerald\\.$#"
			count: 3
			path: tests/Api/Functional/Service/GamesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$red\\.$#"
			count: 3
			path: tests/Api/Functional/Service/GamesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$ruby\\.$#"
			count: 1
			path: tests/Api/Functional/Service/GamesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\CollectionsAvailabilities\\:\\:\\$a\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/CollectionsAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\CollectionsAvailabilities\\:\\:\\$b\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/CollectionsAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\CollectionsAvailabilities\\:\\:\\$c\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/CollectionsAvailabilitiesTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Api\\\\DTO\\\\ElectionVote constructor expects array\\<array\\<string\\>\\|string\\>, array\\<string, array\\<int, string\\>\\|int\\|string\\> given\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/ElectionVoteTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Api\\\\DTO\\\\ElectionVote constructor expects array\\<array\\<string\\>\\|string\\>, array\\<string, array\\<int, string\\>\\|string\\|false\\> given\\.$#"
			count: 2
			path: tests/Api/Unit/DTO/ElectionVoteTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$a\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GameBundlesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$b\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GameBundlesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$c\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GameBundlesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$a\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GameBundlesShiniesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$b\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GameBundlesShiniesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$c\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GameBundlesShiniesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$a\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GamesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$b\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GamesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesAvailabilities\\:\\:\\$c\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GamesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$a\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GamesShiniesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$b\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GamesShiniesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\Api\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$c\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/GamesShiniesAvailabilitiesTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Api\\\\DTO\\\\TrainerPokemonEloListQueryOptions constructor expects array\\<array\\<string\\>\\|int\\|string\\>, array\\<string, string\\|false\\> given\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/TrainerPokemonEloListQueryOptionsTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Api\\\\DTO\\\\TrainerPokemonEloQueryOptions constructor expects array\\<int\\|string\\>, array\\<string, string\\|false\\> given\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/TrainerPokemonEloQueryOptionsTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Api\\\\DTO\\\\TrainerPokemonEloTopQueryOptions constructor expects array\\<int\\|string\\>, array\\<string, array\\<int, int\\>\\|string\\> given\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/TrainerPokemonEloTopQueryOptionsTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Api\\\\DTO\\\\TrainerPokemonEloTopQueryOptions constructor expects array\\<int\\|string\\>, array\\<string, int\\|string\\|false\\> given\\.$#"
			count: 1
			path: tests/Api/Unit/DTO/TrainerPokemonEloTopQueryOptionsTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Web\\\\DTO\\\\ElectionMetrics constructor expects array\\<float\\|int\\>, array\\<string, int\\|string\\> given\\.$#"
			count: 6
			path: tests/Web/Unit/DTO/ElectionMetricsTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Web\\\\DTO\\\\ElectionPokemonsList constructor expects array\\{type\\: string, items\\: array\\<int, array\\<int\\|string\\|null\\>\\>\\}, array\\{items\\: array\\{array\\{pokemon_slug\\: 'pichu', regional_form_slug\\: null, pokemon_family_order\\: 0\\}, array\\{pokemon_slug\\: 'raichu', regional_form_slug\\: null, pokemon_family_order\\: 2\\}\\}\\} given\\.$#"
			count: 1
			path: tests/Web/Unit/DTO/ElectionPokemonsListTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Web\\\\DTO\\\\ElectionPokemonsList constructor expects array\\{type\\: string, items\\: array\\<int, array\\<int\\|string\\|null\\>\\>\\}, array\\{type\\: 'pick', items\\: array\\{'pichu', 'raichu'\\}\\} given\\.$#"
			count: 1
			path: tests/Web/Unit/DTO/ElectionPokemonsListTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Web\\\\DTO\\\\ElectionPokemonsList constructor expects array\\{type\\: string, items\\: array\\<int, array\\<int\\|string\\|null\\>\\>\\}, array\\{type\\: 'pick'\\} given\\.$#"
			count: 1
			path: tests/Web/Unit/DTO/ElectionPokemonsListTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Web\\\\DTO\\\\ElectionPokemonsList constructor expects array\\{type\\: string, items\\: array\\<int, array\\<int\\|string\\|null\\>\\>\\}, array\\{type\\: 12, items\\: array\\{array\\{pokemon_slug\\: 'pichu', regional_form_slug\\: null, pokemon_family_order\\: 0\\}, array\\{pokemon_slug\\: 'raichu', regional_form_slug\\: null, pokemon_family_order\\: 2\\}\\}\\} given\\.$#"
			count: 1
			path: tests/Web/Unit/DTO/ElectionPokemonsListTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Web\\\\DTO\\\\ElectionVote constructor expects array\\<array\\<string\\>\\|string\\>, array\\<string, array\\<int, int\\|string\\>\\|string\\> given\\.$#"
			count: 1
			path: tests/Web/Unit/DTO/ElectionVoteTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Web\\\\DTO\\\\ElectionVote constructor expects array\\<array\\<string\\>\\|string\\>, array\\<string, array\\<int, string\\>\\|int\\> given\\.$#"
			count: 1
			path: tests/Web/Unit/DTO/ElectionVoteTest.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\Web\\\\DTO\\\\ElectionVote constructor expects array\\<array\\<string\\>\\|string\\>, array\\<string, array\\<int, string\\>\\|string\\|false\\> given\\.$#"
			count: 1
			path: tests/Web/Unit/DTO/ElectionVoteTest.php
