<dl>
    <dt>Site editor:</dt>
    <dd>Renaud Lerognon Beudet</dd>
    <dt>Site hosting:</dt>
    <dd>
        Heroku, Salesforce.com Sarl,
        <br>
        3 Avenue Octave Greard, 75007 Paris, France.
    </dd>
</dl>

<h2>Privacy and personal data</h2>
<p>
    The information collected is recorded by Pokénini and intended
    to identify the user when using the site and recording data.
    The legal basis for collection is based on your consent through your
    connection to the pokenini.fr website.
    <br>
    No data is kept by the publisher. In accordance with the law n°78-17 Informatics and
    Modified Freedoms and European Regulation No. 2016/679 (GDPR) you benefit, on the
    personal data concerning you, a right of access and rectification and,
    if applicable, a right of deletion, opposition, erasure,
    limitation of processing, and portability. You can exercise these rights by yourself
    addressing to: <a href="mailto=pokenini.app@gmail.com">pokenini.app@gmail.com</a> providing proof of identity.
    You can also define directives relating to the fate of your data after
    your death and lodge a complaint with the CNIL. If you want more
    further information on the protection of your personal data, please consult
    our page <a href="{{ path('app_web_staticpage_policy') }}">Data Protection Policy
    personal</a>.
</p>

<h2>Intellectual property</h2>
<p>
    The characters, the "Pokémon ®" theme and its derivative trademarks are properties of © Nintendo,
    The Pokemon Company, Game Freak, Creatures.
    <br>
    The site as well as each of the elements that compose it, except for the exceptions mentioned above, in particular the graphic elements,
    texts, images, databases, programs and computer developments of the site
    pokenini.fr as well as the corporate names, trademarks and logos are the property
    exclusive to the Publisher. Except for the sole purpose of information for personal use and
    private, any reproduction, distribution or use of any kind whatsoever, without
    the express authorization of the Publisher is prohibited. Any reproduction, imitation,
    extraction or reuse engages the responsibility of its author.
</p>

<h2>Responsibility</h2>
<p>
    The Publisher undertakes to make its best efforts to provide users with accessibility
    of the site at any time. The Publisher reserves the right to correct and update at any time
    and without notice the content of this site. In addition, the Publisher declines all responsibility,
    for any reason whatsoever, in the event of delay, error or omission in the content
    of these pages as well as in the event of interruption, technical problems, including
    connection to the site, or non-availability of the site.
    <br>
    The Publisher reserves the right, for any reason whatsoever and without prior notice, to
    terminate, modify, suspend or interrupt access to all or part of the site. The Editor
    does not guarantee that the server hosting the site is free of viruses, other
    logical infections on the site, or that there may be a technical problem or
    deterioration that could damage the components of the user's computer
    or data that may be stored there.
</p>

<h2>Cookies</h2>
<p>
    Cookies are text files placed on your device (computer, mobile, tablet)
    when visiting a website. They record information about your
    navigation on this site. Cookies can only be consulted or modified by their issuer.
    For more information on the management of cookies, see our page
    <a href="{{ path('app_web_staticpage_cookies') }}">Cookie management</a>
</p>