<dl>
    <dt>Editeur du site :</dt>
    <dd>Renaud Lerognon Beudet</dd>
    <dt>Hébergement du site :</dt>
    <dd>
        Heroku, Salesforce.com Sarl,
        <br>
        3 Avenue Octave Gréard, 75007 Paris, France.
    </dd>
</dl>

<h2>Confidentialité et données personnelles</h2>
<p>
    Les informations collectées sont enregistrées par Pokénini et destinées 
    à identifier l'utilisateur lors de l'utilisation du site et l'enregistrement des données. 
    Les bases légales de la collecte reposent sur votre consentement par le biais de votre 
    connexion au site pokenini.fr. 
    <br>
    Aucune donnée n’est conservée par l’éditeur. Conformément à la loi n°78-17 Informatique et 
    Libertés modifiée et au Règlement européen n° 2016/679 (RGPD) vous bénéficiez, sur les 
    données personnelles qui vous concernent, d’un droit d’accès et de rectification et, 
    s'ils sont applicables, d'un droit de suppression, d’opposition, d'effacement, de 
    limitation du traitement, et de portabilité. Vous pouvez exercer ces droits en vous 
    adressant à : <a href="mailto=pokenini.app@gmail.com">pokenini.app@gmail.com</a> en fournissant un justificatif d'identité. 
    Vous pouvez également définir des directives relatives au sort de vos données après 
    votre décès et introduire une réclamation auprès de la CNIL. Si vous souhaitez de plus 
    amples informations sur la protection de vos données personnelles, veuillez consulter 
    notre page <a href="{{ path('app_web_staticpage_policy') }}">Politique de protection des données 
    personnelles</a>.
</p>

<h2>Propriété intellectuelle</h2>
<p>
    Les personnages, le thème "Pokémon ®" et ses marques dérivées sont propriétés de © Nintendo, 
    The Pokémon Company, Game Freak, Creatures.
    <br>
    Le site ainsi que chacun des éléments qui le compose, sauf exception citée précédement, notamment les éléments graphiques, 
    textuels, images, bases de données, programmes et développements informatiques du site 
    pokenini.fr ainsi que les dénominations sociales, marques et logos sont la propriété 
    exclusive de l’Editeur. Sauf à des fins exclusives d'information pour un usage personnel et 
    privé, toute reproduction, diffusion ou utilisation de quelque nature que ce soit, sans 
    l'autorisation expresse de l’Editeur, est interdite. Toute reproduction, imitation, 
    extraction ou réutilisation engage la responsabilité de son auteur.
</p>

<h2>Responsabilité</h2>
<p>
    L’Editeur s’engage à faire ses meilleurs efforts pour assurer aux utilisateurs une accessibilité 
    du site à tout moment. L’Editeur se réserve le droit de corriger et d'actualiser à tout moment 
    et sans préavis le contenu de ce site. En outre, L’Editeur décline toute responsabilité, 
    pour quelque cause que ce soit, en cas de retard, d'erreur ou d'omission quant au contenu 
    des présentes pages de même qu'en cas d'interruption, de problèmes techniques, y compris de 
    connexion sur le site, ou de non disponibilité du site.
    <br>
    L’Editeur se réserve le droit, pour quelque motif que ce soit et sans avis préalable, de 
    résilier, modifier, suspendre ou d'interrompre l'accès à tout ou partie du site. L’Editeur 
    ne garantit pas le fait que le serveur accueillant le site soit exempt de virus, d’autres 
    infections logiques sur le site, ou qu'il puisse survenir un problème technique ou une 
    détérioration qui pourrait endommager les composants de l'ordinateur de l'utilisateur 
    ou des données qui pourraient y être stockées.
</p>

<h2>Cookies</h2>
<p>
    Les cookies sont des fichiers textes déposés sur votre appareil (ordinateur, mobile, tablette) 
    lors de la consultation d’un site internet. Ils enregistrent des informations relatives à votre 
    navigation sur ce site. Les cookies ne peuvent être consultés ou modifiés que par leur émetteur. 
    Pour plus d’informations sur la gestion des cookies consulter notre page 
    <a href="{{ path('app_web_staticpage_cookies') }}">Gestion des cookies</a>
</p>