{% set locale = app.request.locale %}

{% extends 'base.html.twig' %}
{% use '_nav.html.twig' %}

{% block title %}Pokénini {{ 'title.legals'|trans }}{% endblock title %}

{% block container %}
<div class="row justify-content-center">
    <div class="col-6">
        <h1>{{ 'title.legals'|trans }}</h1>

        {% include('Static/Legals/'~locale~'.html.twig') %}
    </div>
</div>
{% endblock container %}