<div id="election-actions-bottom" class="election-actions sticky-top sticky-bottom">
  <div class="row text-center justify-content-center p-3">
    <div class="election-actions-item col-2">
      <a class="btn btn-secondary btn-sm" href="">
        {{ 'election.actions.reset'|trans }}
      </a>
    </div>
    <div class="election-actions-item col-3">
      <button id="election-vote-submit-bottom" class="election-vote-submit btn btn-primary position-relative">
        <span class="spinner-border spinner-border-sm" aria-hidden="true" hidden></span>
        {{ 'election.actions.submit'|trans }}
        <span id="election-counter-bottom" class="election-counter position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          0
        </span>
      </button>
    </div>
    <div class="election-actions-item col-2">
      <a class="btn btn-light btn-sm" href="#election-modal-filters" data-bs-toggle="modal" data-bs-target="#election-modal-filters">
        {{ 'election.actions.filters'|trans }}
      </a>
    </div>    
  </div>
</div>