<div id="election-actions-bottom" class="election-actions sticky-bottom">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#election-top">
        {{ 'election.actions.goto.mytop'|trans({'%n%': electionTop|length}) }}
      </a>
    </li>
    <li class="nav-item btn-item">
      <button id="election-vote-submit-bottom" class="election-vote-submit btn btn-primary position-relative">
        <span class="spinner-border spinner-border-sm" aria-hidden="true" hidden></span>
        {{ 'election.actions.submit'|trans }}
        <span id="election-counter-bottom" class="election-counter position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          0
        </span>
      </button>
    </li>
    <li class="nav-item btn-item">
      <a class="btn btn-light btn-sm" href="">
        {{ 'election.actions.reset'|trans }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        {{ 'election.actions.goto.top'|trans }}
      </a>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#election-modal-filters">
        Launch demo modal
      </button>
    </li>
  </ul>
</div>