{% import "common/Pokemon/_image_macros.html.twig" as imageMacros %}

<div id="election-top" class="row mt-3 ms-5 me-5">
    <h4>{{ 'election.top.title'|trans({'n': electionTop|length}) }}</h4>
    {% for item in electionTop %}
    <div class="election-top-item col text-center position-relative" data-attr-elo="{{ item.elo }}">
        {{ imageMacros.regularPokemonImage(item, locale) }}
        <br>
        {% if item.significance %}
        <i class="bi bi-star"></i>
        {% endif %}
        <strong>{{ item.pokemon_simplified_french_name }}</strong>
        {% if item.significance %}
        <i class="bi bi-star"></i>
        {% endif %}
    </div>
    {% endfor %}
</div>