{% import "common/Pokemon/_image_macros.html.twig" as imageMacros %}

<div id="election-top" class="row mt-3 ms-5 me-5">
    <h4>{{ 'election.top.title'|trans({'%n%': electionTop|length}) }}</h4>
    {% for item in electionTop %}
    <div class="election-top-item col text-center">
        {{ imageMacros.regularPokemonImage(item, locale) }}
        <strong>{{ item.pokemon_simplified_french_name }}</strong>				
    </div>
    {% endfor %}
</div>