<p>
    The Entity makes available to all users of the website at the url address
    pokenini.fr the following Privacy Policy, the subject of which is to
    inform of the means used to process your personal data and to protect
    your privacy and personal information.
</p>
<p>
    The publisher advises users to carefully read our Privacy Policy.
</p>

<h2>Preamble</h2>
<p>
    This Privacy Policy applies to the website available at
    url pokenini.fr, and will also apply to all interactions between
    users and the publisher through the aforementioned website.
</p>
<p>
    The publisher may modify this Privacy Policy at any time. In case of
    modification of the said Policy, we will notify you on our website or by
    all other means of communication, in order to ensure that you are informed of the
    new confidentiality provisions applicable to our website. If you
    continue to use our website after receiving information about the
    changes to our Privacy Policy, this will mean that you
    accept the new provisions, except for the provisions which require your
    specific consent.
</p>

<h2>Who is the data controller?</h2>
<p>
    The data controller is Pokenini.
</p>
<p>
    In order to guarantee the appropriate processing of your personal data, the publisher has
    officially appointed a Data Protection Officer to whom you can contact
    your questions regarding the processing of your personal data <a href="mailto=pokenini.app@gmail.com">pokenini.app@gmail.com</a>.
</p>

<h2>For what purposes do we process your personal data?</h2>
<p>
    The personal data that you provide to us through our website may
    be collected by the publisher for the following purposes, depending on the type of data provided
    by the user, as well as the interactions between the user and the publisher through
    from the website: pokenini.fr
</p>
<h2>What personal data is collected by the publisher and how is it obtained?</h2>

<p>
    Personal data collected by the publisher following interactions between users
    through our website come from the following sources:
    <ul>
        <li>Identification data (i.e. first and last name, email address, IP address, etc.).</li>
    </ul>
</p>

<h2>Who is the recipient of your personal data?</h2>
<p>
    The personal data collected by the publisher through this website,
    may be lawfully communicated to the following recipients, and only if necessary:
    <ul>
        <li>
            Public Authorities and Bodies (to manage complaints or in accordance with the
            legal and fiscal obligations).
        </li>
    </ul>
</p>
<p>
    With regard to the other processing operations provided for in this Privacy Policy,
    the publisher hereby informs you that these do not give rise to a communication
    personal data to third parties.
</p>

<h2>How long will your data be kept?</h2>
<p>
    The publisher does not keep any personal data of users of the pokenini.fr site.
</p>

<h2>What security measures do we apply to protect your personal data?</h2>
<p>
    In order to guarantee the security and confidentiality of your personal data, we have
    adopted the necessary levels of security for the protection of personal data and
    we have implemented technical measures to prevent the loss, use
    malicious, modification, unauthorized access or theft of personal data
    provided through our website. However, please note that the measurements
    Internet security is not infallible.
</p>

<h2>Your rights regarding your personal data</h2>
<p>
    The publisher informs you that you have the right to obtain confirmation on the processing
    or not by us of your personal data.
</p>
<p>
    In addition, we inform you that you have the following rights regarding your
    personal data :
    <ul>
        <li>
            <strong>Right of access</strong>: you have the right to access your personal data in order to
            know the data we process.
        </li>
        <li>
            <strong>Right of rectification</strong>: under certain conditions, you have the right to
            rectify your personal data when you believe that we are processing
            wrong data. You can also request the deletion of your data
            personal when, among other things, the data is no longer necessary for
            the purposes for which they were collected.
        </li>
        <li>
            <strong>Right to limit processing</strong>: under certain conditions, you have the right to
            ask us to limit the processing of your personal data. In such cases,
            we will only retain your personal data for the exercise or defense of
            our rights in the context of possible legal/judicial claims.
        </li>
        <li>
            <strong>Right to data portability</strong>: under certain conditions, you have the right
             to receive from us, in a structured, commonly used and readable format
             by a computer, the personal data we hold about you. You have
             also the right to have said data transferred to another data controller.
             data processing.
        </li>
        <li>
            <strong>Right to object</strong>: under certain conditions, and based on your situation
            personal data, you can object to the processing of your personal data.
            In this case, we will stop processing your data unless the processing needs to be
            sued for legal reasons or for the exercise or defense of our
            rights in the context of possible legal/judicial claims.

        </li>
    </ul>
</p>
<p>
    In addition, we remind you that you can object, at any time, to the processing
    of your personal data for commercial or promotional purposes. You can withdraw
    your consent to the processing of your data at any time, without impacting the processing
    data made on the basis of the consent given before the withdrawal.
</p>
<p>
    You can exercise your rights regarding your personal data by writing to the address
    publisher's email including the reference "Data Protection".
</p>
<p>
    In both cases, we inform you that you must provide reasonable proof of
    your identity. If necessary and if justified by the circumstances, we may require that
    you send us a copy of both sides of your identity card for this purpose.
</p>
<p>
    The publisher will provide you with the requested information within a maximum period of one month from
    of receipt of the request. This period may be extended by two additional months if
    necessary, taking into account the complexity and the number of requests.
    <br>
    The publisher informs you that you can address a complaint to the Authority for the protection of
    data from your country, such as the National Commission for Computing and Liberties
    (CNIL) in France. However, as a first step, you can submit a complaint
    to the Data Protection Officer who will respond to your complaint within
    maximum of two months.
</p>