<p>
    L’Entité, rend disponible à tous les utilisateurs du site internet à l’adresse url 
    pokenini.fr la Politique de Confidentialité suivante, dont l’objet est de vous 
    informer des moyens utilisés pour traiter vos données personnelles et pour protéger 
    votre vie privée et vos informations personnelles.
</p>
<p>
    L’éditeur conseille aux utilisateurs de lire attentivement notre Politique de Confidentialité.
</p>

<h2>Préambule</h2>
<p>
    La présente Politique de Confidentialité s’applique au site internet disponible à l’adresse 
    url pokenini.fr, et s’appliquera également à toutes les interactions entre les 
    utilisateurs et l’éditeur par le biais du site internet susvisé.
</p>
<p>
    L’éditeur pourra modifier la présente Politique de Confidentialité à tout moment. En cas de 
    modification de ladite Politique, nous vous en informerons sur notre site internet ou par 
    tous autres moyens de communication, afin de nous assurer que vous soyez informés des 
    nouvelles dispositions de confidentialité applicables à notre site internet. Si vous 
    continuez d’utiliser notre site internet après avoir reçu l’information concernant les 
    modifications apportées à notre Politique de Confidentialité, cela signifiera que vous 
    acceptez les nouvelles dispositions, sauf pour les dispositions qui nécessitent votre 
    consentement spécifique. 
</p>

<h2>Qui est le responsable du traitement des données ?</h2>
<p>
    Le responsable du traitement des données est Pokénini.
</p>
<p>
    Afin de garantir le traitement approprié de vos données personnelles, l’éditeur a 
    officiellement nommé un Délégué à la Protection des Données auquel vous pouvez adresser 
    vos questions concernant le traitement de vos données personnelles <a href="mailto=pokenini.app@gmail.com">pokenini.app@gmail.com</a>.
</p>

<h2>Pour quelles finalités traitons-nous  vos données personnelles ?</h2>
<p>
    Les données personnelles que vous nous fournissez par le biais de notre site internet pourront 
    être collectées par l’éditeur pour les finalités suivantes, selon le type de données fournies 
    par l’utilisateur, ainsi que les interactions entre l’utilisateur et l’éditeur par le biais 
    du site internet : pokenini.fr
</p>

<h2>Quelles données personnelles sont collectées par l’éditeur et comment sont-elles obtenues ?</h2>

<p>
    Les données personnelles collectées par l’éditeur suite aux interactions entre les utilisateurs 
    par le biais de notre site internet proviennent des sources suivantes :
    <ul>
        <li>Données d’identification (à savoir, prénom et nom de famille, adresse e-mail, adresse IP, etc.).</li>
    </ul>
</p>

<h2>Qui est le destinataire de vos données personnelles ?</h2>
<p>
    Les données personnelles collectées par l’éditeur par le biais du présent site internet, 
    pourront être licitement communiquées aux destinataires suivants, et uniquement en cas de besoin :
    <ul>
        <li>
            Autorités et Organismes publics ( pour gérer des réclamations ou conformément aux 
            obligations juridiques et fiscales).
        </li>
    </ul>
</p>
<p>
    S’agissant des autres traitements prévus dans la présente Politique de Confidentialité, 
    l’éditeur vous informe, par les présentes, que ceux-ci ne donnent pas lieu à une communication 
    de données personnelles à des tiers.
</p>

<h2>Quelle est la durée de conservation de vos données ?</h2>
<p>
    L’éditeur ne conserve aucune donnée personnelle des utilisateurs du site pokenini.fr
</p>

<h2>Quelles mesures de sécurité appliquons-nous afin de protéger vos données personnelles ?</h2>
<p>
    Afin de garantir la sécurité et la confidentialité de vos données personnelles, nous avons 
    adopté les niveaux nécessaires de sécurité pour la protection des données personnelles et 
    nous avons mis en place des mesures techniques afin d’éviter la perte, l’utilisation 
    malveillante, la modification, l’accès non autorisé ou le vol des données personnelles 
    fournies par le biais de notre site internet. Toutefois, veuillez noter que les mesures 
    de sécurité de l’internet ne sont pas infaillibles.
</p>

<h2>Suivi de navigation avec Matomo</h2

<p>
    Nous utilisons Matomo, une solution d'analyse web respectueuse de la vie privée, 
    pour collecter des données anonymes sur l'utilisation de notre site internet. 
    Matomo est configuré en mode "privacy by design", ce qui signifie que les adresses IP 
    des utilisateurs sont anonymisées et que les données collectées ne permettent 
    pas d'identifier directement les utilisateurs. Les informations collectées par Matomo sont 
    utilisées uniquement à des fins statistiques et pour améliorer l'expérience utilisateur 
    sur notre site. Vous pouvez à tout moment vous opposer au suivi par Matomo en configurant 
    votre navigateur pour refuser les cookies ou en utilisant l'option de désactivation fournie 
    par Matomo.
</p>

<h2>Vos droits concernant vos données personnelles</h2>
<p>
    L’éditeur vous informe que vous avez le droit d’obtenir la confirmation sur le traitement 
    ou non par nos soins de vos données personnelles. 
</p>
<p>
    Par ailleurs, nous vous informons que vous disposez des droits suivants concernant vos 
    données personnelles :
    <ul>
        <li>
            <strong>Droit d’accèsn</strong>: vous avez le droit d’accéder à vos données personnelles afin de 
            connaître les données que nous traitons.
        </li>
        <li>
            <strong>Droit de rectificationn</strong>: sous certaines conditions, vous avez le droit de faire 
            rectifier vos données personnelles lorsque vous estimez que nous traitons des 
            données erronées. Vous pouvez également demander la suppression de vos données 
            personnelles lorsque, entre autres, les données ne sont plus nécessaires pour 
            les besoins pour lesquels elles ont été recueillies.
        </li>
        <li>
            <strong>Droit de limitation du traitementn</strong>: sous certaines conditions, vous avez le droit de 
            nous demander de limiter le traitement de vos données personnelles. Dans ces cas, 
            nous ne conserverons vos données personnelles que pour l’exercice ou la défense de 
            nos droits dans le cadre d’éventuelles réclamations juridiques/ judiciaires. 
        </li>
        <li>
            <strong>Droit à la portabilité des donnéesn</strong>: sous certaines conditions, vous avez le droit
             de recevoir de notre part, dans un format structuré, couramment utilisé et lisible 
             par un ordinateur, les données personnelles que nous détenons sur vous. Vous avez 
             également le droit de faire transférer lesdites données à un autre responsable du 
             traitement des données. 
        </li>
        <li>
            <strong>Droit d’opposition</strong>: sous certaines conditions, et sur la base de votre situation 
            personnelle, vous pouvez vous opposer au traitement de vos données personnelles. 
            Dans ce cas, nous cesserons de traiter vos données sauf si le traitement doit être 
            poursuivi pour des raisons juridiques ou pour l’exercice ou la défense de nos 
            droits dans le cadre d’éventuelles réclamations juridiques/ judiciaires. 

        </li>
    </ul>
</p>
<p>
    Par ailleurs, nous vous rappelons que vous pouvez vous opposer, à tout moment, au traitement 
    de vos données personnelles à des fins commerciales ou promotionnelles. Vous pouvez retirer 
    votre consentement au traitement de vos données à tout moment, sans impacter le traitement 
    des données effectué sur la base du consentement donné avant le retrait. 
</p>
<p>
    Vous pouvez exercer vos droits concernant vos données personnelles en écrivant à adresse 
    mail de l’éditeur en incluant la référence « Protection des Données ».
</p>
<p>
    Dans les deux cas, nous vous informons que vous devrez justifier de façon raisonnable de 
    votre identité. Si besoin et si justifié par les circonstances, nous pouvons exiger que 
    vous nous adressiez une copie recto-verso de votre carte d’identité à cette fin.
</p>
<p>
    L’éditeur vous fournira les informations demandées dans un délai maximum d’un mois à compter 
    de la réception de la demande. Ce délai pourra être prorogé de deux mois supplémentaires si 
    nécessaire, tenant compte de la complexité et du nombre de demandes.
    <br>
    L’éditeur vous informe que vous pouvez adresser une plainte à L'Autorité de protection des 
    données de votre pays, telle que la Commission nationale de l'informatique et des libertés 
    (CNIL) en France. Toutefois, dans un premier temps, vous pouvez soumettre une réclamation 
    au Délégué à la Protection des Données qui répondra à votre réclamation dans un délai 
    maximum de deux mois.
</p>